.new-answer-page {
    background-color: aliceblue;
    height: 1060px;
    display:flex;
    align-items: center;
}

.answers-form {
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 10px;;
    margin-top: 0px;
    box-shadow: 2px 3px 8px #9095A1;
    height: 400px;
    width: 400px;
    margin-left: 800px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.submit-prompt {
    margin-top: -10px;
}

.new-answer-input {
    height:200px;
    width:300px;
    overflow: auto
}

.submitanswer-btn {
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    height:50px;
    width:100px;
    margin-left: 20px;
    background-color: teal;
    box-shadow: 2px 3px 8px #9095A1;
    border: 1px solid skyblue
}

.submitanswer-btn:hover {
    font-size: 14px;
    cursor:pointer;
    background-color: dodgerblue;
	color: white;
    border: 1px solid skyblue;
    height:50px;
    width: 100px;
	border-radius: 8px;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
